@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&family=Poppins:wght@400;500;600;700;800&display=swap');
/* FONTS
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Poppins', sans-serif; */


body{
    background: url(images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.head-box{
    margin: auto;
    display: flex;
    flex-direction: column;
    color: rgb(170, 233, 241);
    justify-content: center;
    align-items: center;
    width: 90%;
}
.hd, .hf{
    font-family: 'Edu TAS Beginner', cursive;
    width: 500px;
}.cuentas{
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px;
    column-gap: 20px;
}


footer{
    background-color: rgb(14, 115, 122);
    
}
footer ul{
    display: flex;
    margin: 10px;
    list-style: none;
    justify-content: center;
}
footer ul li{
    padding:  0 100px;
    justify-content: center;
    color: rgb(170, 233, 241);
    font-weight: bold;
}


@media (max-width: 760px){
    body{
        width: 700px;
        display: flex;
        background: url(images/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    header{
        width: 400px;
        height: 200px;
    }
    .head-box{
        margin: 15px;
        display: block;
        flex-direction: column;
        width: 200px;
    }
   .hd, .hf{
        width: 150px;
        
    }
    .hf{
        font-size: 80px;
    }
    .portada{
        max-width: 600px;
    }
    
    .cuentas{
        display: inline-block;
        margin: 5px;
        width: 200px;
    }
    
    footer{
        width: 360px;
    }
    
    footer ul li{
        padding:  0 10px;
    }
}

@media (max-width: 460px){
    body{
        width: 320px;
        background: url(images/2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
    }
    header{
        width: 400px;
        height: 200px;
    }
    .portada{
        margin: 20px;
    }
    
    .head-box{
        position:absolute;
        top: 0;
        margin: 15px;
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: center;
        
    }
   .hd{
        font-size: 30px;
        display: flex;
        margin-left: 40px;
    }
    .hf{
        font-size: 20px;
        display: flex;
        margin-left: 40px;
    }

    .portada{
        margin-top: 80px;
    }
    .cuentas{
        display: inline-block;
        width: 210px;
        margin: 45px;
        padding:20px;
        
    }
    
    footer{
        width: 360px;
    }
    
    footer ul li{
        padding:  0 10px;
    }
}
